.vagrant
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks
bin/*
.bundle/*
.DS_Store
.kitchen/*
vendor/*
authorized_keys
encrypted_data_bag_secret
.chef/*
!.chef/plugins
.kitchen.local.yml
Rakefile
Berksfile.lock
